<ion-header class="header">

    <ion-toolbar class="prop">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="" class="start">
            </ion-back-button>
        </ion-buttons>


        <div class="divheader">
            <img src="../assets/icon/icons/qmtls-20.png" class="icon-centro">
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="content">
        <ion-card class="card1">
            <h2>{{app.textos.AlertAlerttxt}}</h2>
            <div class="contenedor" *ngFor="let a of alertas" (click)="onClick(a)">
                <div class="box">
                    <h4>{{a.descripcion}}</h4>
                </div>
            </div>
        </ion-card>
    </div>
</ion-content>