.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('../images/banner-login.jpg');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
} 

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

.callout.callout-default {
  border-left-color: #777;
    h4 {
      color: #777;
    }
}

.callout.callout-primary {
  border-left-color: #428bca;
    h4 {
      color: #428bca;
    }
}

.callout.callout-success {
  border-left-color: #5cb85c;
    h4 {
      color: #5cb85c;
    }
}

.callout.callout-info {
  border-left-color: #5bc0de;
    h4 {
      color: #5bc0de;
    }
}

.callout.callout-warning {
  border-left-color: #f0ad4e;
    h4 {
      color: #f0ad4e;
    }
}

.callout.callout-danger {
  border-left-color: #d9534f;
    h4 {
      color: #d9534f;
    }
}