.my-label > label {
  display: inline-flex;
}
.my-label.required > label:before {
  color: red;
  content: " *";
  order: 1;
}
.my-label > label:after {
  content: "-";
  color: white;
}

.rgba-black-strong {
    background-color: rgba(0,0,0,0.7);
}

.card.card-image.mb-3 {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin-top: 30px; }
  .timeline:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #E5E5E5;
    left: 50%;
    margin-left: -1px; }
  .timeline h6 {
    color: #333333;
    font-weight: 400;
    margin-top: 17px; }
  .timeline.timeline-simple {
    margin-top: 30px;
    padding: 0 0 20px; }
    .timeline.timeline-simple:before {
      left: 5%;
      background-color: #E5E5E5; }
    .timeline.timeline-simple > li > .timeline-panel {
      width: 86%; }
    .timeline.timeline-simple > li > .timeline-badge {
      left: 5%; }
  .timeline > li {
    margin-bottom: 20px;
    position: relative; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
  .timeline > li > .timeline-panel {
    width: 45%;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff; }
    .timeline > li > .timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-left: 15px solid #e4e4e4;
      border-right: 0 solid #e4e4e4;
      border-bottom: 15px solid transparent;
      content: " "; }
    .timeline > li > .timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #ffffff;
      border-right: 0 solid #ffffff;
      border-bottom: 14px solid transparent;
      content: " "; }
  .timeline > li > .timeline-badge {
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 51px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -24px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; }
    .timeline > li > .timeline-badge.primary {
      background-color: #9c27b0;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4); }
    .timeline > li > .timeline-badge.success {
      background-color: #4caf50;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4); }
    .timeline > li > .timeline-badge.warning {
      background-color: #ff9800;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4); }
    .timeline > li > .timeline-badge.info {
      background-color: #00bcd4;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
      padding: 0; }
    .timeline > li > .timeline-badge.danger {
      background-color: #f44336;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4); }
    .timeline > li > .timeline-badge [class^="ti-"],
    .timeline > li > .timeline-badge [class*=" ti-"],
    .timeline > li > .timeline-badge [class="material-icons"] {
      line-height: inherit; }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    background-color: #D6ECF7; }
    .timeline > li.timeline-inverted > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto; }
    .timeline > li.timeline-inverted > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto; }

.timeline-heading {
  margin-bottom: 15px; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body hr {
  margin-top: 10px;
  margin-bottom: 5px; }

.timeline-body .btn {
  margin-bottom: 0; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

[class*="col-"].cards {
  float: left; }
  
  
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

.callout.callout-default {
  border-left-color: #777;
    h4 {
      color: #777;
    }
}

.callout.callout-primary {
  border-left-color: #428bca;
    h4 {
      color: #428bca;
    }
}

.callout.callout-success {
  border-left-color: #5cb85c;
    h4 {
      color: #5cb85c;
    }
}

.callout.callout-info {
  border-left-color: #5bc0de;
    h4 {
      color: #5bc0de;
    }
}

.callout.callout-warning {
  border-left-color: #f0ad4e;
    h4 {
      color: #f0ad4e;
    }
}

.callout.callout-danger {
  border-left-color: #d9534f;
    h4 {
      color: #d9534f;
    }
}

.medium-size-btn {
    width:245px;
}


.drag-image {
    border: 1px dashed #000;
    border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	background-color: #d2ecf9;
}

.drag-image.active {
    border: 2px solid #fff
}

.drag-image .icon {
    font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.drag-image h6 {
    font-size: 20px;
    font-weight: 300;
}

.drag-image span {
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 15px 0
}

.ck.ck-editor__main>.ck-editor__editable {
  height: 210px;
}


#select-item{
  padding: 6px 0 6px 20px;
  -webkit-appearance:none;
  width:100%;
  border: 1px solid #c4c4c4;
  border-radius: 0.2rem;
  background-color: #f7f7f5;
}
.cus-select-group{
  width:100%;
  position:relative;
}
.cus-select-group:not(*:root):after{
  content:"";
  display:block;
  width:0;
  height:0;
  border-color:#000 transparent transparent transparent;
  border-width:6px 3px 6px 3px;
  border-style:solid;
  position:absolute;
  right:6px;
  top:50%;
  margin-top:-2.5px;
}