extends layout

block content

  script(type='text/javascript').
    $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
    });


  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Maipo Grande
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Inicio
        li.nav-item
          a.nav-link(href='nosotros') Nosotros             
        li.nav-item
          a.nav-link(href='servicios') Servicios          
        li.nav-item.active
          a.nav-link(href='contacto') 
           | Contacto
           span.sr-only (current)
        if(session.isLoggedIn)
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Administraci칩n
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='panel') Panel
              a.dropdown-item(href='#') Usuarios
              a.dropdown-item(href='#') Productos
              a.dropdown-item(href='#') Ventas

      if(session.isLoggedIn)
        ul.navbar-nav.float-right
          a.nav-link.text-white(href='logout') 
            i.bi-power
            |  Cerrar sesi칩n
      else
        ul.navbar-nav.float-right
          a.nav-link.text-success(href='login')
            i.bi.bi-box-arrow-in-right
            |  Ingresar
  main.container(role='main')
    .jumbotron
      h1 Contacto
      p.lead
        | Est치s en la p치gina Contacto
    
    p.lead
      | Contactanos por medio del siguiente Formulario:

    .container

    .row
      .col-md-12
        form(action='/')
         .form-group
          label(for='nya')
           strong Nombres y Apellidos
          input#nya.form-control(type='text' aria-describedby='nyaHelp' placeholder='Ingresa tus Nombres y Apellidos', required)
          small#nyaHelp.form-text.text-muted Por favor, Nombres y Apellidos Completos.

         .form-group
          label(for='email')
           strong Email
          input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Ingresa tu Email', required)
          small#emailHelp.form-text.text-muted Tu correo activo.

          .form-group
          label(for='mensaje')
           strong Mensaje
          textarea#comment.form-control(rows='5', required)
          small#mensajeHelp.form-text.text-muted Tu Mensaje.
          br  
          button.btn.btn-primary(type='submit') Enviar


    hr
