extends layout

block content

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Maipo Grande
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Inicio
        li.nav-item
          a.nav-link(href='nosotros') Nosotros 
        li.nav-item
          a.nav-link(href='servicios') Servicios
        li.nav-item
          a.nav-link(href='contacto') Contacto
        if(session.isLoggedIn)
          li.nav-item
            a.nav-link(href='panel') Administración
  main.container(role='main')
    .container
    .row.align-items-center
      .col-md-6.mx-auto.mt-5
        form(action='/api/crearUsuario' method='POST')
          h1.h3.mb-3.font-weight-normal(style='text-align: center')  Ingresa los datos del nuevo usuario
          .row
            .col-xs-6.col-sm-6.col-md-6
              .form-group
                label Nombre *
                input#nombre.form-control.mb-4.input-sm(type='text' name='nombre' placeholder='Nombre' size='25' required='')
            .col-xs-6.col-sm-6.col-md-6
              .form-group
                label Apellido *
                input#apellido.form-control.input-sm(type='text' name='apellido' placeholder='Apellido' size='25' required='')
          label Correo electrónico *
          input#inputEmail.form-control.mb-4(type='email' name='correo' placeholder='Correo electrónico' size='30' required='')
          label Contraseña *
          input#inputPassword.form-control.mb-4(type='password' name='password' placeholder='Contraseña' size='40' required='')
          label Número de documento *
          input#inputNumDocumento.form-control.mb-4(type='number' name='num_documento' placeholder='Número de documento' size='20' required='')
          label Fecha de nacimiento *
          input#inputFechaNacimiento.form-control.mb-4(type='date' name='fecha_nacimiento' placeholder='Fecha de nacimiento' required='')
          label Teléfono *
          input#inputTelefono.form-control.mb-4(type='number' name='telefono' placeholder='Teléfono' size='15' required='')
          .form-group
                label Género *
                select.form-control(name='genero')
                  option(name='' value='0' selected='') Escoger...
                  option(name='femenino' value='1') Femenino
                  option(name='masculino' value='2') Masculino
          .row.mb-4
            .col-xs-6.col-sm-6.col-md-6
              .form-group
                label Tipo de usuario *
                select.form-control(name='tipo_usuario')
                  option(name='' value='0' selected='') Escoger...
                  option(name='administrador' value='1') Administrador
                  option(name='transportista' value='2') Transportista
                  option(name='clienteExterno' value='3') Cliente externo
                  option(name='clienteInterno' value='4') Cliente interno
                  option(name='productor' value='5') Productor
                  option(name='consultor' value='6') Consultor
          button.btn.btn-success.btn-block.mb-2(type='submit')
            i.fas.fa-sign-in-alt
            |  Registrar nueva cuenta
        hr
        a(href='login')
          button#btn-signup.btn.btn-primary.btn-block(type='button')
            i.fas.fa-user-plus
            |  Ingresar a una cuenta
        hr
