<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="page-categories">
                                <h3 class="title text-center">Escoge la página a la que quieres ir</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="card card-image mb-3" style="background-image: url(/images/Frutas.jpg);">
                                        <div class="text-white text-center rgba-black-strong py-5 px-4">
                                        <div>
                                            <h3 class="card-title text-white pt-2 mb-3"><strong>Mis Pedidos</strong></h3>
                                            <p>En esta página podrás administrar todos los pedidos realizados a Maipo Grande.</p>
                                            <a class="btn btn-warning" href="/mispedidos"><i class="material-icons">chevron_right</i> Ver mis pedidos</a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-image mb-3" style="background-image: url('/images/Transportes.jpg');">
                                        <div class="text-white text-center rgba-black-strong py-5 px-4">
                                            <div>
                                                <h3 class="card-title text-white pt-2 mb-3"><strong>Mis Compras</strong></h3>
                                                <p>En esta página podrás administrar todas las compras realizadas en Maipo Grande.</p>
                                                <a class="btn btn-warning" href="/miscompras"><i class="material-icons">chevron_right</i> Ver mis compras</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

</body>
</html>