extends layout

block content

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Maipo Grande
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Inicio
        li.nav-item
          a.nav-link(href='nosotros') Nosotros 
        li.nav-item
          a.nav-link(href='servicios') Servicios
        li.nav-item
          a.nav-link(href='contacto') Contacto
  main.container(role='main')
    .container
    .row.align-items-center
      .col-md-4.mx-auto.mt-5
        form(action='auth' method='POST')
          h1.h3.mb-3.font-weight-normal(style='text-align: center')  Ingresa tus datos
          label Correo electrónico
          input#inputEmail.form-control.mb-2(type='email' name='correo' placeholder='Correo electrónico' required='' autofocus='')
          label Contraseña
          input#inputPassword.form-control.mb-4(type='password' name='password' placeholder='Contraseña' required='')
          button.btn.btn-success.btn-block.mb-2(type='submit')
            i.fas.fa-sign-in-alt
            |  Ingresar
        a#forgot_pswd(href='#') ¿Has olvidado tu contraseña?

