extends layout

block content

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Maipo Grande
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Inicio
        li.nav-item.active
          a.nav-link(href='nosotros')
            | Nosotros 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='servicios') Servicios
        li.nav-item
          a.nav-link(href='contacto') Contacto
        if(session.isLoggedIn)
          li.nav-item
            a.nav-link(href='panel') Administración

      if(session.isLoggedIn)
        ul.navbar-nav.float-right
          a.nav-link.text-white(href='logout') 
            i.bi-power
            |  Cerrar sesión
      else
        ul.navbar-nav.float-right
          a.nav-link.text-success(href='login')
            i.bi.bi-box-arrow-in-right
            |  Ingresar
  main.container(role='main')
    .jumbotron
      h1 Nosotros
      p.lead
        | Estás en la página Nosotros
    .container

    p.lead
        | Somos una empresa frutícola chilena con años de experiencia en el rubro, en la cual nos hemos ido superando dia a dia hasta lograr participar en toda la cadena de procesos, comenzando en el campo, producción y empaque, hasta finalizar en la exportación de fruta.

    p.lead
        | Nuestra empresa se basa en 3 pilares principales:
    
    .row
      .col-md-4
        h2 Medio Ambiente
        p
          | El cuidado de la tierra es fundamental para que podamos producir. Nuestro compromiso es devolver a la naturaleza, la tierra en su estado original.
          a(href='http://blog.nubecolectiva.com/category/frontend/' target='_blank')
           img.img-fluid.mt-3(src='http://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-11-300x169.png')

      .col-md-4
        h2 Calidad
        p
          | Analizamos microbiológicamente cada etapa de los distintos procesos.
          a(href='http://blog.nubecolectiva.com/category/backend/' target='_blank')
           img.img-fluid.mt-2(src='http://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-8-300x169.png')

      .col-md-4
        h2 Variedad y Desarrollo
        p
          | Nos importa que tengas una dieta balanceada, rica y como sabemos que no siempre hay mucho tiempo para cocinar: fácil de preparar. Nuestro departamento de desarrollo de productos está siempre buscando nuevas formas de consumir productos sanos, caseros y sabrosos.
          a(href='http://blog.nubecolectiva.com/category/android/' target='_blank')
           img.img-fluid.mt-2(src='http://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-9-300x169.png')

    hr
