extends layout

block content

  #wrapper
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
      a.navbar-brand(href='#') Maipo Grande
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.side-nav
          li.nav-item
            a.nav-link(href='/') Inicio
          li.nav-item
            a.nav-link(href='nosotros') Nosotros   
          li.nav-item
            a.nav-link(href='servicios') Servicios    
          li.nav-item
            a.nav-link(href='contacto') Contacto
          if(session.isLoggedIn)
            li.nav-item
            a.nav-link(href='panel') 
             | Administración
             span.sr-only (current)

      ul.navbar-nav.float-right
        a.nav-link.text-white(href='logout')
          i.bi-power
          |  Cerrar sesión
    .container-fluid
      p.lead
        h3
          | Bienvenido #{session.nombre} #{session.apellido} - #{session.tipo_usuario}
    .container-fluid
      .row.mb-4
        .col
          .card
            .card-body
              h5.card-title Crear usuario
              a.card-link(href='/crearusuario') Crear usuario
        .col
          .card
            .card-body
              h5.card-title Listado de usuarios registrados 
              a.card-link(href='/listadousuarios') Ver usuarios registrados
      .row
        .col.mb-4
          .card
            .card-body
              h5.card-title Try Other
              h6.card-subtitle.mb-2.text-muted Bootstrap 4.0.0 Snippet by pradeep330
              p.card-text
                | You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.
              a.card-link(href='https://bootsnipp.com/pradeep330') link
              a.card-link(href='http://websitedesigntamilnadu.com') Another link
      .row
        .col
          .card
            .card-body
              h5.card-title Últimas ventas
              table.table
                thead
                  tr
                    th(scope='col') #
                    th(scope='col') Nombre
                    th(scope='col') Apellido
                    th(scope='col') Correo electrónico
                    th(scope='col') Fecha de registro
                tbody
                  tr
                    th(scope='row') 1
                    td Mark
                    td Otto
                    td @mdo
                    td @mdo
                  tr
                    th(scope='row') 2
                    td Jacob
                    td Thornton
                    td @fat
                    td @mdo
                  tr
                    th(scope='row') 3
                    td Larry
                    td the Bird
                    td @twitter
                    td @mdo