extends layout

block content

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Maipo Grande
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Inicio
        li.nav-item
          a.nav-link(href='nosotros') Nosotros             
        li.nav-item.active
          a.nav-link(href='servicios')
           | Servicios
           span.sr-only (current)
        li.nav-item
          a.nav-link(href='contacto') Contacto
        if(session.isLoggedIn)
          li.nav-item
            a.nav-link(href='panel') Administración

      if(session.isLoggedIn)
        ul.navbar-nav.float-right
          a.nav-link.text-white(href='logout') 
            i.bi-power
            |  Cerrar sesión
      else
        ul.navbar-nav.float-right
          a.nav-link.text-success(href='login')
            i.bi.bi-box-arrow-in-right
            |  Ingresar
  main.container(role='main')
    .jumbotron
      h1 Servicios
      p.lead
        | Estás en la página Servicios
    
    p.lead
      | Nuestro equipo de exportaciones se preocupa de entregar soluciones flexibles según las necesidades de cada país y el mercado en que se desenvuelven. Nos enfocamos en productos para el mercado retail y food service, marca propia o exclusive, y contamos con diferentes formatos de embalaje.

    .container

    .row
      .col-md-4
        .card
         img.card-img-top.img-fluid(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1674528f4eb%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1674528f4eb%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
        .card-body
         h5.card-title Exportaciones
         p.card-text
          | Nuestra capacidad de exportación que nos proveen nuestras 2 plantas, nos permiten llegar a cualquier destino del mundo, con valores competitivos y en tiempos de traslados óptimos. Nuestras frutas y verduras son consumidas en gran parte del mundo, llegando a América, Europa y Asia.
         a.btn.btn-primary(href='#') Ver más


      .col-md-4
        .card
         img.card-img-top.img-fluid(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1674528f4eb%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1674528f4eb%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
        .card-body
         h5.card-title Servicio 2
         p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
         a.btn.btn-primary(href='#') Ver más

      .col-md-4
        .card
         img.card-img-top.img-fluid(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1674528f4eb%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1674528f4eb%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
        .card-body
         h5.card-title Servicio 3
         p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
         a.btn.btn-primary(href='#') Ver más

    hr