<!doctype html>
<html lang="es-ES">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <style type="text/css">
        a:hover {text-decoration: underline !important;}
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:40%; margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <img width="300" src="https://i.imgur.com/nwgFrcE.png" title="logo" alt="logo">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:100%; background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">Subasta iniciada!</h1>
                                        <p style="font-size:15px; color:#455056; margin:8px 0 0; line-height:24px;">
                                          Has recibido este correo ya que se ha iniciado una nueva subasta de Transporte en Maipo Grande.<br><br><strong>Los datos de tu subasta son los siguientes:</strong>
                                        </p>
                                        <span style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                        <p style="color:#455056; font-size:18px;line-height:20px; margin:0; font-weight: 500;">
                                            <strong style="display: block; font-size: 13px; margin: 0 0 4px 0; font-weight:normal; color:rgba(0,0,0,.64);">ID de subasta</strong><%= id_subastaT %>
                                            <strong style="display: block; font-size: 13px; margin: 24px 0 4px 0; font-weight:normal; color:rgba(0,0,0,.64);">Tipo de subasta</strong><%= fk_id_tipo %>
                                            <strong style="display: block; font-size: 13px; margin: 24px 0 4px 0; color:rgba(0,0,0,.64); font-weight:normal;">Fecha de inicio</strong><%= fecha_inicio %>
                                            <strong style="display: block; font-size: 13px; margin: 24px 0 4px 0; font-weight:normal; color:rgba(0,0,0,.64);">Fecha de termino</strong><%= fecha_termino %>
                                        </p>
                                        <p style="font-size:15px; color:#455056; margin-top: 30px; line-height:24px;">
                                            Recibirás un correo electrónico cuando tu subasta tenga nuevas ofertas. Recuerda estar atento a tu correo!
                                        </p>

                                        <a href="http://localhost:3000/subasta_fruta/<%= id_subastaT %>" style="background:#9124a3;text-decoration:none !important; display:inline-block; font-weight:500; margin-top:20px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-color:#701c7e;border-radius:0.2rem;">Ver subasta</a>
                                    
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>