<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">

        </nav>
        <div class="copyright">
            2021, DuocUC <i class="material-icons">favorite</i> Grupo 2 - Proyecto Maipo Grande
        </div>
    </div>
</footer>
</div>
</div>

<!--   JS necesarios   -->
<script src="../js/core/jquery.min.js"></script>
<script src="../js/core/popper.min.js"></script>
<script src="../js/core/bootstrap-material-design.min.js"></script>
<script src="../js/perfect-scrollbar.jquery.min.js"></script>
<script src="../js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>

<script src="../js/dataTables.min.js"></script>
<script src="../js/dataTables/dataTables.buttons.min.js"></script>
<script src="../js/dataTables/jszip.min.js"></script>
<script src="../js/dataTables/pdfmake.min.js"></script>
<script src="../js/dataTables/vfs_fonts.js"></script>
<script src="../js/dataTables/buttons.html5.min.js"></script>
<script src="../js/dataTables/buttons.print.min.js"></script>

<script src="../js/plugins/moment.min.js"></script>
<script src="../js/bootstrap-notify_3_1_5.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
<script src="../js/plugins/jquery.validate.min.js"></script>

<!--   JS   -->
<script src="../js/plugins/chartist.min.js"></script>