<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= title %></title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="../css/dashboard.css?v=2.1.2" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/datatables.min.css" rel="stylesheet">
    <link href="../css/buttons.dataTables.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-background-color="white">
            <div class="logo">
                <a href="../" class="simple-text logo-normal"><img class="img-fluid" src="/images/Logo_Maipo_Grande_transparente.png"></a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                  <li class="nav-item <% if (navActive == 'Dashboard'){ %>active<% } %>">
                      <a class="nav-link" href="../">
                        <i class="material-icons">dashboard</i>
                          <p>Inicio</p>
                      </a>
                  </li>
                  <% if(session.tipo_usuario == 1){ %>
                    <!-- Menú Administrador -->
                    <li class="nav-item <% if (navActive == 'Usuarios'){ %>active<% } %>">
                        <a class="nav-link" href="../usuarios">
                            <i class="material-icons">person</i>
                            <p>Usuarios</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Contratos'){ %>active<% } %>">
                        <a class="nav-link" href="../contratos">
                            <i class="material-icons">history_edu</i>
                            <p>Contratos</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Frutas'){ %>active<% } %>">
                        <a class="nav-link" href="../frutas">
                            <i class="material-icons">inventory_2</i>
                            <p>Frutas</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Pedidos'){ %>active<% } %>">
                        <a class="nav-link" href="../pedidos">
                            <i class="material-icons">library_books</i>
                            <p>Pedidos</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Subastas'){ %>active<% } %>">
                        <a class="nav-link" href="../subastas">
                            <i class="material-icons">loyalty</i>
                            <p>Subastas</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Ordenes'){ %>active<% } %>">
                        <a class="nav-link" href="../ordenes">
                            <i class="material-icons">assignment</i>
                            <p>Ordenes</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Ventas'){ %>active<% } %>">
                        <a class="nav-link" href="../ventas">
                            <i class="material-icons">monetization_on</i>
                            <p>Ventas</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Seguros'){ %>active<% } %>">
                        <a class="nav-link" href="../seguros">
                            <i class="material-icons">local_police</i>
                            <p>Seguros</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'MisOfertas_Productor'){ %>active<% } %>">
                        <a class="nav-link" href="../misofertas_productor">
                            <i class="material-icons">loyalty</i>
                            <p>Mis ofertas (Productor)</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'MisOfertas_Transporte'){ %>active<% } %>">
                        <a class="nav-link" href="../misofertas_transporte">
                            <i class="material-icons">loyalty</i>
                            <p>Mis ofertas (Transportista)</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Productos'){ %>active<% } %>">
                        <a class="nav-link" href="../productos">
                            <i class="material-icons">inventory_2</i>
                            <p>Productos (Productor)</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'MisVentas'){ %>active<% } %>">
                        <a class="nav-link" href="../misventas">
                            <i class="material-icons">monetization_on</i>
                            <p>Mis Ventas (Productor)</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Reportes'){ %>active<% } %>">
                        <a class="nav-link" href="../reportes">
                            <i class="material-icons">equalizer</i>
                            <p>Reportes (Consultor)</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'MisPedidos'){ %>active<% } %>">
                        <a class="nav-link" href="../mispedidos">
                            <i class="material-icons">loyalty</i>
                            <p>Mis Pedidos (Cliente)</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'MisCompras'){ %>active<% } %>">
                        <a class="nav-link" href="../miscompras">
                            <i class="material-icons">shopping_bag</i>
                            <p>Mis Compras (Cliente)</p>
                        </a>
                    </li>
                  <% } %>
                  <% if(session.tipo_usuario == 5){ %>
                    <!-- Menú Productor -->
                    <li class="nav-item <% if (navActive == 'MisOfertas_Productor'){ %>active<% } %>">
                        <a class="nav-link" href="../misofertas_productor">
                            <i class="material-icons">loyalty</i>
                            <p>Mis ofertas</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Productos'){ %>active<% } %>">
                        <a class="nav-link" href="../productos">
                            <i class="material-icons">inventory_2</i>
                            <p>Productos</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Subastas'){ %>active<% } %>">
                        <a class="nav-link" href="../subastas_frutas">
                            <i class="material-icons">loyalty</i>
                            <p>Subastas</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'MisVentas'){ %>active<% } %>">
                        <a class="nav-link" href="../misventas">
                            <i class="material-icons">monetization_on</i>
                            <p>Mis Ventas</p>
                        </a>
                    </li>
                  <% } %>
                  <% if(session.tipo_usuario == 3 || session.tipo_usuario == 4){ %>
                    <!-- Menú Cliente Externo e Interno -->
                    <li class="nav-item <% if (navActive == 'MisPedidos'){ %>active<% } %>">
                        <a class="nav-link" href="../mispedidos">
                            <i class="material-icons">loyalty</i>
                            <p>Mis Pedidos</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'MisCompras'){ %>active<% } %>">
                        <a class="nav-link" href="../miscompras">
                            <i class="material-icons">shopping_bag</i>
                            <p>Mis Compras</p>
                        </a>
                    </li>
                  <% } %>
                  <% if(session.tipo_usuario == 2){ %>
                    <!-- Menú Transportista -->
                    <li class="nav-item <% if (navActive == 'MisOfertas_Transporte'){ %>active<% } %>">
                        <a class="nav-link" href="../misofertas_transporte">
                            <i class="material-icons">loyalty</i>
                            <p>Mis ofertas</p>
                        </a>
                    </li>
                    <li class="nav-item <% if (navActive == 'Subastas'){ %>active<% } %>">
                          <a class="nav-link" href="../subastas_transportes">
                              <i class="material-icons">local_shipping</i>
                              <p>Subastas</p>
                          </a>
                    </li>
                  <% } %>
                  <% if(session.tipo_usuario == 6){ %>
                    <!-- Menú Consultor -->
                      <li class="nav-item <% if (navActive == 'Reportes'){ %>active<% } %>">
                          <a class="nav-link" href="../reportes">
                              <i class="material-icons">equalizer</i>
                              <p>Reportes</p>
                          </a>
                      </li>
                  <% } %>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <h4 class="navbar-brand">Bienvenido <%= session.tipo_usuario_texto.toLowerCase(); %> <%= session.nombre %> <%= session.apellido %></h4>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Mi Cuenta
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="../miperfil">Mi perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="../logout">Cerrar sesión</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->